<span class="label label-primary"><h1>My Current Works</h1></span>
<p> </p>
<div class="center hero-unit">
	<p> Hi! If you came here it's because you are interested on what I'm currently doing, so in the buttons below you can get more info about that. If you like one of them, thank you, if not <strike> you'll probably die by a mysterious reason</strike> you probably have your reasons.
	</p>

	<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Band</a>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">My band</h3>
		</div>
		<div class="modal-body">
			<p>We're thinking in the name for it, so, for now, it just will be "my band". We make some Coldplay, RadioHead, Keane and related artists songs cover, in a <strike>very long</strike> short time we'll gonna do some original songs and the link of them will be here with this amazing description (or a better one, lets time decide).</p>
			<p>Members: </p>
			<p>Camilo Brito, electric/acoustic guitar and singer</p>
			<p>Bastián Cofré, keyboards and singer</p>
			<p>Nicolás Ríos, drums</p>
			<p>Me, bass guitar and chorus</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>

	<a href="#myModal1" role="button" class="btn btn-primary" data-toggle="modal">Website</a>
	<!-- Modal -->
	<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel1">This blog</h3>
		</div>
		<div class="modal-body">
			<p>I think this is currently my project in web developing. So, why not put it here? I'll put some new features when I think it's necesary. Currently, it's just for fun :D</p>
			<p>I have to say thank you to Ignacio Tolosa for lending me some space on his server! If you ever see this, I owe you a beer.</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
		</div>
	</div>	

</div>