<script>
	$(function() {
		$( "#windowTitleDialog" ).dialog({
			modal: true,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
</script>

<div class="center hero-unit">
  <h1>Welcome to my blog</h1>

  <h2>
    I'm working right now to make this site, so... you'll have to wait until it's done. Anyway, thank you for your visit! 
  </h2>


  <%= content_tag :a, "Posts!", :href => "#modal", :class => 'btn', :data => {:toggle => 'modal'} %>

  <%= modal_dialog :id => "modal",
         :header => { :show_close => true, :dismiss => 'modal', :title => 'Modal header' },
                 :body   => 'Hey, there is no posts yet :c. Hope see you soon!',
                 :footer => content_tag(:button, 'Exit', :class => 'btn')
  %>


</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>