<script>
	$(function() {
		$( "#windowTitleDialog" ).dialog({
			modal: true,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
</script>

<div class="center hero-unit">
  <h1>Welcome to my blog</h1>

  <h2>
    I'm working right now to make this site, so... you'll have to wait until it's done. Anyway, thank you for your visit! 
  </h2>

  <%= link_to "Go to Posts!", 'Posts', class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>