<div class="center hero-unit">
  <h1>Welcome to my blog</h1>

  <h2>
    I'm working right now to make this site, so... you'll have to wait until it's done. Anyway, thank you for your visit!
  </h2>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>