<div class="center hero-unit">
  <h1>Hi, I'm Daniel!</h1>

  <img src="../images/me.jpg"  alt="Me" class="img-circle">

  <h2>
    Welcome to my personal website, I post here things about my life and hobbies, so be free to check anything you think interesting for you. Thank you for your visit!
  </h2>

  <a href= <%= posts_path %> class="btn btn-primary btn-large">Free chocolate!</a>	

</div>

<center> 
	<p> Proudly powered by Ruby on Rails! </p>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>	
</center>