<span class="label label-primary"><h1>My posts</h1></span>
<p> </p>
<div class="center hero-unit">
<table>
<tbody>
  <% @posts.reverse_each do |post| %>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        
        <div class="accordion-heading">
          <h3 class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=<%= "##{post.title.gsub(" ","_")}" %>>
            <%= post.title %>
          </h3>
        </div>

        <div id=<%= post.title.gsub(" ","_") %> class="accordion-body collapse in">
          <div class="accordion-inner">
            <p> <%= post.body %> </p>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</tbody>
</table>
</div>