<span class="label label-primary"><h1>About Me</h1></span>
<p> </p>
<div class="center hero-unit">
	<p>
		Hi, I'm Daniel Morales Miguel, alias DanAlex93 (Dan => Daniel; Alex => Alejandro; 93 => 1993, yes I born that year). I'm studying Computer Engineer (aka Ingeniería Civil Informática in Chile) at Universidad Técnica Federico Santa María, Campus Santiago. Like my twitter account says, I'm a big fan of rock music, the sitcoms and programming, I'm a bass player and kind of guitarist (I can play a lot of chords and compose a little bit, but I can't make solos, by now).
	</p>
	<p>
		Currently I'm working on three proyects as you can see in the Works page (I hope the secret one will be ready on March of the next year), this blog was created for learning about Ruby on Rails (I became a big fan in like a week) and to be a funier way to post my CV.
	</p>
	<p>
		In a month or more, I'll have the danalex93.com domain, so if you buy it before, I'll find you and I'll going to kill you (not really, but I'll hate you so much).
	</p>
	<p>
		Some links:
	</p>
	<table>
		<td><a href="#" class="btn btn-primary">Curriculum Vitae</a></td>
		<td>   </td>
  		<td><a href="http://www.twitter.com/danalex93" class="btn btn-info">Twitter</a></td>
	</table>
</div>
