<footer class="footer">
  <small>
    by Daniel Morales Miguel
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><a href="mailto:daniel.morales.miguel@gmail.com">Contact</a></li>
    </ul>
  </nav>
</footer>